<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorDisk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED6B73C1D7024C1001E7746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED6B7551D7024C1001E7746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED6B7601D7024C1001E7746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
